/*! This code is from the react set up, will probably need to change it later*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * This is where our code starts */

/* General Styles */

.wrapper {
  max-width: 1000px;
  width: 80%;
  margin: 5% auto;
  text-align: center;
  background: beige;
  border: 10px dashed lightblue;
  padding: 3%;
}

html {
  background: beige;
}

/* Header */
h1 {
  text-decoration: underline;
}

/* Instructions */
.instructions {
  list-style-type: number;
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

/* Day Grid */
.dayGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  border: 2px solid black;
}

.dayGrid form input {
  width: 20%;
  min-width: 50px;
}


/* Media Queries */

@media (max-width: 850px) {
  /* Instructions */
  .instructions {
    width: 80%;
  }
}